<div class="bg-white m-4 rounded-lg shadow-md">
    <% if local_assigns.has_key? :title %>
        <div class="bg-indigo-800 rounded-t-lg text-indigo-100 p-2 pl-4"><%= title %></div>
    <% end %>
    <%= yield %>
</div>
