<div class="center-horizontal my-10">
  <%= simple_form_for :password, url: passwords_path, defaults: { wrapper_html: { class: 'form-field'} } do |form| %>
    <%= form.input :email %>

    <div class="form-field center-horizontal">
      <%= form.button :submit %>
    </div>
  <% end %>
</div>
