.flashes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .flash {
    margin: 10px;
    color: white;
  }

  .notice span {
    padding: 10px;
    background: green;
  }

  .alert span {
    padding: 10px;
    background: red;
  }
}
