<%= simple_form_for [@goal, @measurement], html: { class: 'flex justify-between' } do |f| %>
  <%= f.input :date, as: :date_picker %>
  <%= f.input :value, step: '0.1' %>

  <div class="form-field">
    <%= f.button :submit %>
  </div>
<% end %>   
