<div class="measurement flex justify-between px-6 py-4 bg-gray-100 even:bg-gray-300" data-measurement-id="<%= measurement.id %>">
  <div class="date flex-1"><%= format_date(measurement.date) %></div>
  <div class="value flex-1"><%= measurement.value %></div>
  <div class="link-indigo flex-none">
    <%= link_to "Delete", [measurement.goal, measurement], method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
