<div id="measurement_<%= measurement.id %>" class="entry">
    <div id="date"><%= format_date(measurement.date) %></div>
    <div id="value"><%= measurement.value %></div>
    <%= button_to "Delete", measurement, method: :delete, data: { confirm: "Are you sure?" } %>
</div>